name: Deploy IAC

on:
  workflow_dispatch: {}

permissions:
  id-token: write # Require write permission to Fetch an OIDC token.
  contents: read

env:
  Location: "uksouth"
  ManagementGroupPrefix: "MIXTCorp"

jobs:
  validate:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
    - uses: actions/checkout@v3
    - uses: azure/login@v1
      name: Sign in to Azure
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Fix az bicep config  # https://github.com/Azure/azure-cli/issues/31189#issuecomment-2779751172
      run: |
            az config set bicep.use_binary_from_path=false

    - uses: azure/arm-deploy@v1
      name: Run preflight validation
      with:
        deploymentName: ${{ github.run_number }}
        scope: management-group
        managementGroupId: ${{ env.ManagementGroupPrefix }}
        region:  ${{ env.Location }}
        template: ./patterns/alz/alzArm.json
        parameters: ./patterns/alz/alzArm.param.json
        deploymentMode: Validate

  preview:
    runs-on: ubuntu-latest
    needs: [validate]
    steps:
    - uses: actions/checkout@v3
    - uses: azure/login@v1
      name: Sign in to Azure
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    - name: Fix az bicep config  # https://github.com/Azure/azure-cli/issues/31189#issuecomment-2779751172
      run: |
            az config set bicep.use_binary_from_path=false
    - uses: azure/arm-deploy@v1
      name: Run what-if
      with:
        failOnStdErr: false
        deploymentName: ${{ github.run_number }}
        scope: management-group
        managementGroupId: ${{ env.ManagementGroupPrefix }}
        region:  ${{ env.Location }}
        template: ./patterns/alz/alzArm.json
        parameters: ./patterns/alz/alzArm.param.json
        deploymentMode: Validate
        additionalArguments: --what-if

  deploy:
    runs-on: ubuntu-latest
    needs: preview
    steps:
    - uses: actions/checkout@v3
    - uses: azure/login@v1
      name: Sign in to Azure
      with:
        client-id: ${{ vars.AZURE_NGW_OWNER_CLIENT_ID }}
        tenant-id: ${{ vars.AZURE_TENANT_ID }}
        subscription-id: ${{ vars.AZURE_NGW_SUBSCRIPTION_ID }}
    - name: Fix az bicep config  # https://github.com/Azure/azure-cli/issues/31189#issuecomment-2779751172
      run: |
            az config set bicep.use_binary_from_path=false
    - uses: azure/arm-deploy@v1
      name: Deploy AMBA
      with:
        failOnStdErr: false
        deploymentName: ${{ github.run_number }}
        scope: management-group
        managementGroupId: ${{ env.ManagementGroupPrefix }}
        region:  ${{ env.Location }}
        template: ./patterns/alz/alzArm.json
        parameters: ./patterns/alz/alzArm.param.json
        deploymentMode: Validate
        additionalArguments: --what-if
